@font-face
{
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}

html
{
    font-family: Roboto,Arial,sans-serif;
    color: #545d69;
    background-color: white;
    overflow-x: hidden;
}

#site
{
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
}

body
{
    width: 100vw;
    margin: 0;
    padding: 0;
}

#navBar img
{
    margin-left: 10vw;
}

#navBar
{
    padding: 8px;
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 90px;
    z-index: 10000;
}

#navBar img
{
    width: 210px;
}

#navItems
{
    position: absolute;
    width: 50vw;
    transform: translate(0, -55px);
    left: 50%;
}

#body
{
    text-align: center;
    transform: translate(0, 110px);
}

.navItem
{
    float: left;
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
    color: #375886;
}

.navItem:hover .navItem::before
{
    border-radius: 20px;
    content: attr(dia);
    border: solid #304f7a 2px;
    width: 100px;
    min-height: 10px;
}

#schoolPano
{
    width: 1600px;
    border-radius: 5px;
    filter: hue-rotate(0deg) contrast(130%);
    animation: rotateHue 5s infinite;
}

@keyframes rotateHue
{
    0%
    {
        filter: hue-rotate(0deg) contrast(130%);
    }

    100%
    {
        filter: hue-rotate(360deg) contrast(130%);
    }
}

#articles
{
    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    text-align: left;
    font-size: 19px;
    line-height: 1.5em;
    font-weight: lighter;
}

#articles b
{
    font-weight: bold;
}

.divisor
{
    width: 100%;
    height: 40px;
    border-bottom: solid #a0a0a0ce 1px;
}

.divisorDown
{
    width: 100%;
    height: 40px;
}

#entryText p
{
    transform: skewX(10%);
    font-size: 12px;
    margin-top: -8px;
    margin-left: 5px;
}

h1
{
    font-size: 50px;
}

.article
{
    margin: 10px;
    display: grid;
    grid-template-columns: min-content auto;
}

.article .dateTime, .articleText
{
    color: #626262;
    font-weight: 100;
}

.articleText::after
{
    content: "mehr>";
    color: #0079ff;
}

.articleText::after:hover
{
    text-decoration: underline;
}

.article img
{
    /* float: left; */
    width: 200px;
    grid-row: 1;
    grid-column: 1;
    margin: 5px;
}

.article .articleTitle
{
    color: #a13271;
    font-weight: bold;
}

.artDiv
{
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    /* float: left; */
    margin-left: 20px;
}

#popUp
{
    font-size: 20px;
    position: fixed;
    font-size: 100px;
    z-index: 100;
    background-color: #eeeeee;
    border: solid #a13271 5px;
    width: 300px;
    height: 350px;
    bottom: 0%;
    right: 5%;
    transform: translate(0, 400px);
    transition: linear 1s;
}

#popUp p
{
    font-size: 20px;
    width: 85%;
    margin: 3px;
}

#popUp a
{
    text-decoration: none;
    color: #0079ff;
}

#popUp .caption
{
    font-size: 10px;
}

#popUp.active
{
    transform: translate(0, 0);
}

.close
{
    color: #a13271;
    position: absolute;
    font-size: 20px;
    right: 1em;
    top: 1em;
    cursor: pointer;
}